
/* 
body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */
.holder{
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.flex-box1{
    width: 100px;
    height:100px;
    background-color: rgb(218, 42, 180);
    /* margin: 20px; */
}
.flex-box2{
    width: 100px;
    height:100px;
    background-color: rgb(24, 228, 126);
    /* margin: 20px; */
}
.flex-box3{
    width: 100px;
    height:100px;
    background-color: rgb(224, 146, 29);
    /* margin: 20px; */
}
.flex-box4{
    width: 100px;
    height:100px;
    background-color: rgb(36, 151, 222);
    /* margin: 20px; */
}
.flex-box5{
    width: 100px;
    height:100px;
    background-color: rgb(104, 104, 159);
    /* margin: 20px; */
}
